# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

1. Importing country income groups from the World Bank API:

In [8]:
import pandas as pd
import requests

data = pd.ExcelFile('income_classification.xlsx')
income_df = pd.read_excel(data, sheet_name = 'Country Analytical History')
income_df.head(100)

,Unnamed: 0,World Bank Analytical Classifications,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,NaN,(presented in World Development Indicators),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GNI per capita in US$ (Atlas methodology),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Bank's fiscal year:,FY89,FY90,FY91,FY92,FY93,FY94,FY95,FY96,...,FY17,FY18,FY19,FY20,FY21,FY22,FY23,FY24,FY25,FY26
4,NaN,Data for calendar year :,1987,1988,1989,1990,1991,1992,1993,1994,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,HND,Honduras,LM,LM,LM,L,L,L,L,L,...,LM,LM,LM,LM,LM,LM,LM,LM,LM,LM
96,HKG,"Hong Kong SAR, China",H,H,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H
97,HUN,Hungary,UM,UM,UM,UM,UM,UM,UM,UM,...,H,H,H,H,H,H,H,H,H,H
98,ISL,Iceland,H,H,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H
99,IND,India,L,L,L,L,L,L,L,L,...,LM,LM,LM,LM,LM,LM,LM,LM,LM,LM

<br>
2. Cleaning income group labels:

In [9]:
FY23_row = 4 
FY23_col = 36
startrow = 11
isocodecol = 0
countrynamecol = 1
income_2021 = income_df.iloc[startrow :, [isocodecol, countrynamecol, FY23_col]].copy()
income_2021.columns = ["ISO", "Country Name", "Income Group FY23"]

income_2021 = income_2021.dropna()
income_2021.head(100)

     ISO    Country Name Income Group FY23
11   ALB         Albania                UM
12   DZA         Algeria                LM
13   ASM  American Samoa                UM
14   AND         Andorra                 H
15   AGO          Angola                LM
..   ...             ...               ...
106  ITA           Italy                 H
107  JAM         Jamaica                UM
108  JPN           Japan                 H
109  JOR          Jordan                UM
110  KAZ      Kazakhstan                UM

[100 rows x 3 columns]

3. Reading energy data file:

In [3]:
df0 = pd.read_csv('owid-energy-data.csv')

selected_cols = ["country", "year", "iso_code", "population", "electricity_demand", "greenhouse_gas_emissions", "fossil_share_elec", "renewables_share_elec"]

energydata = df0[selected_cols]
energydata = energydata[energydata['year'] == 2021]
energydata

,country,year,iso_code,population,electricity_demand,greenhouse_gas_emissions,fossil_share_elec,renewables_share_elec
21,ASEAN (Ember),2021,NaN,NaN,1156.74,660.98,74.177,25.823
146,Afghanistan,2021,AFG,4.000036e+07,6.76,0.12,12.264,87.736
270,Africa,2021,NaN,1.413750e+09,906.56,505.06,76.010,22.625
330,Africa (EI),2021,NaN,NaN,NaN,NaN,75.368,22.664
375,Africa (EIA),2021,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
22680,Western Sahara,2021,ESH,5.585770e+05,NaN,NaN,NaN,NaN
22804,World,2021,NaN,7.954448e+09,28271.26,13985.85,62.096,28.133
22849,Yemen,2021,YEM,3.714018e+07,2.92,1.72,82.877,17.123
23066,Zambia,2021,ZMB,1.960356e+07,15.59,1.54,8.014,91.986
23191,Zimbabwe,2021,ZWE,1.579716e+07,10.31,2.31,29.288,70.712

<br>
<br>

The dependent and independent variables (DVs and IVs) that we are interested in are:

**DVs**:
- Fossil fuel electricity share ("fossil_share_elec" column in the CSV file)
- Renewable energy electricity share ("renewables_share_elec" column in the CSV file)

**IVs**:
- Low-income countries (in "country" column in CSV file)
- Lower-middle income countries (in "country" column in CSV file)
- Upper-middle income countries (in "country" column in CSV file)
- High-income countries (in "country" column in CSV file)
- Population
- Electricity demand ("electricity_demand" in CSV file)
- Greenhouse gas emissions ("greenhouse_gas_emissions" in CSV file)
- Income group ("FY23" in XLSX file)


<br>
<br>

4. Cleaning up energy data file:

In [4]:
energydata = energydata.dropna()

energydata.head()
energydata

,country,year,iso_code,population,electricity_demand,greenhouse_gas_emissions,fossil_share_elec,renewables_share_elec
146,Afghanistan,2021,AFG,40000360.0,6.76,0.12,12.264,87.736
641,Albania,2021,ALB,2849591.0,8.39,0.21,0.000,100.000
765,Algeria,2021,DZA,44761051.0,84.45,54.23,99.054,0.946
810,American Samoa,2021,ASM,49202.0,0.17,0.11,100.000,0.000
934,Angola,2021,AGO,34532382.0,16.85,2.91,24.570,75.430
...,...,...,...,...,...,...,...,...
22314,Venezuela,2021,VEN,28237786.0,82.93,14.45,20.764,79.235
22439,Vietnam,2021,VNM,98935054.0,254.43,120.51,57.226,42.774
22849,Yemen,2021,YEM,37140180.0,2.92,1.72,82.877,17.123
23066,Zambia,2021,ZMB,19603556.0,15.59,1.54,8.014,91.986
23191,Zimbabwe,2021,ZWE,15797165.0,10.31,2.31,29.288,70.712

<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [5]:
energydata = energydata.rename( columns={'country':'Country', 'year':'Year', 'iso_code':'ISO', 'fossil_share_elec':'FF electricity share', 'renewables_share_elec':'RE electricity share', 'population':'Population', 'electricity_demand':'Electricity demand', 'greenhouse_gas_emissions':'GHG emissions'} )

energydata.head()

,Country,Year,ISO,Population,Electricity demand,GHG emissions,FF electricity share,RE electricity share
146,Afghanistan,2021,AFG,40000360.0,6.76,0.12,12.264,87.736
641,Albania,2021,ALB,2849591.0,8.39,0.21,0.000,100.000
765,Algeria,2021,DZA,44761051.0,84.45,54.23,99.054,0.946
810,American Samoa,2021,ASM,49202.0,0.17,0.11,100.000,0.000
934,Angola,2021,AGO,34532382.0,16.85,2.91,24.570,75.430

5. Merging income data and energy data:

In [6]:
energydata["ISO"] = energydata["ISO"].astype(str)
income_2021["ISO"] = income_2021["ISO"].astype(str)

In [7]:
finaldata = energydata.merge(income_2021[["ISO", "Income Group FY23"]], on = "ISO", how = "left")
finaldata = finaldata.dropna()
finaldata.head(100)

,Country,Year,ISO,Population,Electricity demand,GHG emissions,FF electricity share,RE electricity share,Income Group FY23
1,Albania,2021,ALB,2849591.0,8.39,0.21,0.000,100.000,UM
2,Algeria,2021,DZA,44761051.0,84.45,54.23,99.054,0.946,LM
3,American Samoa,2021,ASM,49202.0,0.17,0.11,100.000,0.000,UM
4,Angola,2021,AGO,34532382.0,16.85,2.91,24.570,75.430,LM
5,Antigua and Barbuda,2021,ATG,92316.0,0.35,0.22,94.286,5.714,H
...,...,...,...,...,...,...,...,...,...
100,Jordan,2021,JOR,11066310.0,21.58,11.54,77.013,22.987,UM
101,Kazakhstan,2021,KAZ,19743565.0,114.52,95.96,89.060,10.940,UM
102,Kenya,2021,KEN,53219122.0,12.65,1.19,10.178,89.822,LM
103,Kiribati,2021,KIR,128346.0,0.04,0.02,75.000,25.000,LM
104,Kuwait,2021,KWT,4360703.0,80.80,52.49,99.740,0.260,H